*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lobster Two', cursive;
    
}

body{
    background-color: #020631;
}

#container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

#logo{
    width: 7rem;
    margin-top: 5rem;
    margin-bottom: 4rem;
}

h1{
    color: white;
    margin-bottom: 2rem;
}

#todo{
    background-color: white;
    border-radius: 0.5rem;
    width: 19.5rem;
}
#todotext{
    margin-left: 0.5rem;
    width: 17rem;
    height: 2rem;
    border: none;
    border-radius: .5rem;
    font-size: 1.2rem;
}

#todobutton{
    background-color: white;
    border: none;
    margin-right: 0.5rem;
}

#todotext:focus{
    outline: none;
}

#todobutton:hover{
    opacity: 0.6;
    cursor: pointer;
}

#thanks{
    color:#2c2c33;
    margin-top: 4rem;
    text-align: center;
}

#thanksto{
    color: #265c94
}

#lists{
    color: white;
}

li {
    list-style-type: none;
    width: 19.5rem;
    height: 2rem;
    background-color: white;
    margin: 0.9rem;
    display: flex;
    position: relative;
    color: grey;
    border-radius: 0.5rem;
    transition: 0.5s;
    font-size: 1rem;
}

a{  
    position: absolute;
    top: 0.3rem;
    right: 0.2rem;
    opacity: 0.4;
    color: gray;
}
a:hover{
    cursor: pointer;
    opacity: 1;
}

label{
    width: 17rem;
    overflow-x: auto;
    overflow-y: auto;
    position: relative;
    top: 0.4rem;
    left: 2rem;
}

li>input{
    position: absolute;
    top: 0.6rem;
    left: 0.5rem;
}