*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #020631;
}

#container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

#logo{
    width: 7rem;
    margin: 10%;
}

h1{
    color: white;
    margin-bottom: 5%;
}

#todo{
    background-color: white;
    border-radius: 0.5rem;
    width: 19.5rem;
}
#todotext{
    margin-left: 0.5rem;
    width: 17rem;
    height: 2rem;
    border: none;
    border-radius: .5rem;
}

#todobutton{
    background-color: white;
    border: none;
    margin-right: 0.5rem;
}

#todotext:focus{
    outline: none;
}

#todobutton:hover{
    opacity: 0.6;
    cursor: pointer;
}

#thanks{
    color:#2c2c33;
    margin-top: 4rem;
    text-align: center;
}

#thanksto{
    color: #265c94
}

#lists{
    color: white;
}
li {
    list-style-type: none;
    width: 19.5rem;
    height: auto;
    background-color: white;
    margin: 3px;
    display: flex;
    position: relative;
    color: grey;
    
}
/* input[type=checkbox]:checked + label#mehmet{
    text-decoration: line-through;
} */
a{  
    position: absolute;
    right: 2px;
    background-color: chartreuse;
    align-self: flex-end;
}
a:hover{
    cursor: pointer;
}

label{
    width: 17rem;
    overflow-x: auto;
    overflow-y: auto;
}
